# Import

In [139]:
%load_ext autoreload
%autoreload 2
from DataProcessing import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Setting
- to specify month

In [140]:
selected_month = '2024-11'

# Medical Outcomes

## Read APAC and Generate Result Data

In [141]:
medical_outcomes = monthly_Clinical_data(selected_month)

Link Exist Region 1 ALOR SETAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Alor Setar\\APAC\2024_Nov_ALOR SETAR_APAC_v14.11_2024_11_21_10_01_57.xlsx
Link Exist Region 1 GURUN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Gurun\\APAC\2024_Nov_GURUN_APAC_v14.11_2024_11_21_10_02_04.xlsx
Link Exist Region 1 KANGAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Kangar\\APAC\2024_Nov_KANGAR_APAC_v14.11_2024_11_21_10_03_02.xlsx
Link Exist Region 1 PENDANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Pendang\\APAC\2024_Nov_PENDANG_APAC_v14.11_2024_11_21_10_02_12.xlsx
Link Exist Region 1 SEBERANG PERAI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Seberang Perai\\APAC\2024_Nov_SEBERANG PERAI_APAC_v14.11_2024_11_21_10_02_41.xlsx
Link Exist Region 1 SUNGAI SIPUT: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Sg Siput\\APAC\2024_Nov_SUNGAI SIPUT_APAC_v14.11_2024_11_21_10_02_52.xlsx
Link Exist Region 1 SG PETANI SELATAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\SPS\\APAC\2024_Nov_SG PETANI SELATAN_APAC_v14.11_2024_11_21_10_02_20.xlsx
Link Exist Region 1 SG PETANI UTARA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\SPU\\APAC\2024_Nov_SG PETANI UTARA_APAC_v14.11_2024_11_21_10_02_30.xlsx
Link Exist Region 1 PEKAN BARU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Pekan Baru\\APAC\2024_Nov_PEKAN BARU_APAC_v14.11_2024_11_21_10_04_19.xlsx
Link Exist Region 2 BANGI: Z:\\Dr.Tan\\2022\17CSSFA\\Region2\\Bangi\\APAC\2024_Nov_BANGI_APAC_v14.11_2024_11_21_09_57_03.xlsx
Link Exist Region 2 BATANG BERJUNTAI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Batang Berjuntai\\APAC\2024_Nov_BATANG BERJUNTAI_APAC_v14.11_2024_11_21_10_00_31.xlsx
Link Exist Region 2 CHERAS: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Cheras\\APAC\2024_Nov_CHERAS_APAC_v14.11_2024_11_21_09_56_23.xlsx
Link Exist Region 2 KAJANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Kajang\\APAC\2024_Nov_KAJANG_APAC_v14.11_2024_11_21_09_57_15.xlsx
Link Exist Region 2 KOTA WARISAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Kota Warisan\2024_Nov_KOTA WARISAN_APAC_v14.11_2024_11_21_10_04_14.xlsx
Link Exist Region 2 PUCHONG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Puchong\\APAC\2024_Nov_PUCHONG_APAC_v14.11_2024_11_21_09_57_29.xlsx
Link Exist Region 2 SABAK BERNAM: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Sabak  Bernam\\APAC\2024_Nov_SABAK BERNAM_APAC_v14.11_2024_11_21_10_01_18.xlsx
Link Exist Region 2 SG BESAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Sg Besar\\APAC\2024_Nov_SG BESAR_APAC_v14.11_2024_11_21_10_01_31.xlsx
Link Exist Region 2 TANJUNG KARANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Tanjung Karang\\APAC\2024_Nov_TANJUNG KARANG_APAC_v14.11_2024_11_21_10_01_41.xlsx
Link Exist Region 3 ANDALAS: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Andalas\\APAC\2024_Nov_ANDALAS_APAC_v14.11_2024_11_21_10_00_16.xlsx
Link Exist Region 3 KUALA PILAH: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Kuala Pilah\\APAC\2024_Nov_KUALA PILAH_APAC_v14.11_2024_11_21_09_59_11.xlsx
Link Exist Region 3 MERU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Meru\\APAC\2024_Nov_MERU_APAC_v14.11_2024_11_21_10_01_04.xlsx
Link Exist Region 3 RAWANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Rawang\\APAC\2024_Nov_RAWANG_APAC_v14.11_2024_11_21_10_00_40.xlsx
Link Exist Region 3 REMBAU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Rembau\\APAC\2024_Nov_REMBAU_APAC_v14.11_2024_11_21_09_59_24.xlsx
Link Exist Region 3 SEREMBAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Seremban\\APAC\2024_Nov_SEREMBAN_APAC_v14.11_2024_11_21_09_59_32.xlsx
Link Exist Region 3 SRI RAMPAI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Sri Rampai\\APAC\2024_Nov_SRI RAMPAI_APAC_v14.11_2024_11_21_09_56_37.xlsx
Link Exist Region 3 TAMAN TASIK JAYA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Taman Tasik Jaya\\APAC\2024_Nov_TAMAN TASIK JAYA_APAC_v14.11_2024_11_21_09_59_45.xlsx
Link Exist Region 3 WANGSA MAJU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Wangsa Maju\\APAC\2024_Nov_WANGSA MAJU_APAC_v14.11_2024_11_21_09_56_49.xlsx
Link Exist Region 4 BANDAR BARU UDA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Bandar Baru Uda\\APAC\2024_Nov_BANDAR BARU UDA_APAC_v14.11_2024_11_21_09_57_49.xlsx
Link Exist Region 4 BATU BERENDAM: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Batu Berendam\\APAC\2024_Nov_BATU BERENDAM_APAC_v14.11_2024_11_21_09_58_45.xlsx
Link Exist Region 4 KOTA TINGGI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Kota Tinggi\\APAC\2024_Nov_KOTA TINGGI_APAC_v14.11_2024_11_21_09_58_14.xlsx
Link Exist Region 4 KUALA SUNGAI BARU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Kuala Sungai Baru\\APAC\2024_Nov_KUALA SUNGAI BARU_APAC_v14.11_2024_11_21_09_58_54.xlsx
Link Exist Region 4 MASJID TANAH: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Masjid Tanah\\APAC\2024_Nov_MASJID TANAH_APAC_v14.11_2024_11_21_09_59_01.xlsx
Link Exist Region 4 BENUT: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Benut\\APAC\2024_Nov_BENUT_APAC_v14.11_2024_11_21_09_57_58.xlsx
Link Exist Region 4 PONTIAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Pontian\\APAC\2024_Nov_PONTIAN_APAC_v14.11_2024_11_21_09_58_31.xlsx
Link Exist Region 4 JOHOR BAHRU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Landmark\\APAC\2024_Nov_JOHOR BAHRU_APAC_v14.11_2024_11_21_10_03_52.xlsx
Link Exist Region 4 TAMAN SERI SETIA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\TSS\\APAC\2024_Nov_TAMAN SERI SETIA_APAC_v14.11_2024_11_21_10_04_01.xlsx
Link Exist Region 5 BANGSAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Bangsar\\APAC Data\2024_Nov_BANGSAR_APAC_v14.11_2024_11_21_09_56_13.xlsx
Link Exist Region 5 JERANTUT: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Jerantut\\APAC\2024_Nov_JERANTUT_APAC_v14.11_2024_11_21_09_59_49.xlsx
Link Exist Region 5 KOTA KINABALU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Kota Kinabalu\\APAC\2024_Nov_KOTA KINABALU_APAC_v14.11_2024_11_21_10_03_09.xlsx
Link Exist Region 5 PAPAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Papar\\APAC\2024_Nov_PAPAR_APAC_v14.11_2024_11_21_10_04_12.xlsx
Link Exist Region 5 SANDAKAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\sandakan\\APAC\2024_Nov_SANDAKAN_APAC_v14.11_2024_11_21_10_03_24.xlsx
Link Exist Region 5 TULIPS: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Tulips\\APAC\2024_Nov_TULIPS_APAC_v14.11_2024_11_21_10_00_02.xlsx
Link Exist Region 5 TAMANSARI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Tamansari\\APAC\2024_Nov_TAMANSARI_APAC_v14.11_2024_11_21_10_00_40 - Copy.xlsx
Link Exist Region 5 ANTARA GAPI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Antaragapi\\APAC Data\2024_Nov_ANTARA GAPI_APAC_v14.11_2024_11_21_10_04_20.xlsx

Total Centers: 44

Total data size: 2257
Total duplicate: 3
Total HB not null: 2253, 99.8%

## Explode data to Individual Outcomes

In [142]:
outcomes = sepResult(medical_outcomes)

# Overall Data

In [ ]:
allData = overallData(selected_month, outcomes)

Total Unique Patient 2024-11: 2395
Total Active patient: 2368
Total Mortality: 15
Total Hospital Admission: 229.0

,MR No.,Patient Name W/O Title,Primary Center,First Dialysis Date in Davita,First Dialysis Date(FDODD),Last Visit Date,Last Visit Month,HD Count,Physician Responsible,# of Txs per Week,...,Draw Date_K,PTH,Draw Date_PTH,QB (mL/min),Draw Date_QB (mL/min),Mortality,Hospitalization,Active,Report Date,Report Quarter
1,MR000002,WONG KAM SUNG,Meru,04-07-2023,04-07-2023,03-12-2024,2024-12,13.0,Dr. Chua Hing Kiat,3,...,NaT,NaN,NaT,350.0,2024-11-07,NaN,NaN,1.0,2024-11-01,2024Q4
3,MR000005,LAILA RAHAYU BINTI SYAHRUL,Wangsa Maju,03-06-2010,03-06-2010,02-12-2024,2024-12,13.0,Dr. Alex Leong Vui Beng,3,...,NaT,NaN,NaT,300.0,2024-11-06,NaN,NaN,1.0,2024-11-01,2024Q4
5,MR000008,AZRUL AKHBAR BIN ISMAIL,Wangsa Maju,03-12-2012,03-12-2012,02-12-2024,2024-12,13.0,Dr. Alex Leong Vui Beng,3,...,NaT,NaN,NaT,400.0,2024-11-06,NaN,NaN,1.0,2024-11-01,2024Q4
6,MR000009,AZURA BINTI AHMAD,Wangsa Maju,07-05-2014,07-05-2014,03-12-2024,2024-12,13.0,Dr. Alex Leong Vui Beng,3,...,NaT,NaN,NaT,300.0,2024-11-07,NaN,NaN,1.0,2024-11-01,2024Q4
15,MR000022,MAK CHOY HOON,Tulip,16-05-2012,16-05-2012,02-12-2024,2024-12,13.0,Dr. Wong Chew Ming,3,...,NaT,NaN,NaT,330.0,2024-11-06,NaN,NaN,1.0,2024-11-01,2024Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6401,MR008614,MOHD SAIFUL BIN AHMAD,Kota Tinggi,29-11-2024,29-11-2024,01-12-2024,2024-12,2.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
6402,MR008615,BAKKIAM A/P POONGGAVANAM,Sungai Siput,NaN,29-11-2024,02-12-2024,2024-12,1.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
6404,MR008617,RAHMAH BINTI ABDUL RAHIM,Pontian,27-11-2024,27-11-2024,03-12-2024,2024-12,2.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
6405,MR008618,NORIAH BINTI MAT KAMIS,Tulip,28-11-2024,28-11-2024,30-11-2024,2024-11,2.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
6406,MR008619,KOH NAM KIOW,Pontian,29-11-2024,29-11-2024,02-12-2024,2024-12,1.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4

In [ ]:
dff = available_MO()

,MR No.,PREU,POSU,BUN Draw Date,SP Kt/V,URR,HB,Draw Date_HB,ALB,Draw Date_ALB,...,Tsat,Draw Date_Tsat,CA,Draw Date_CA,K,Draw Date_K,PTH,Draw Date_PTH,Report Date,Report Quarter
0,MR000002,24.3,8.0,2024-10-03,1.4,67.08,9.2,2024-10-03,45.0,2024-10-03,...,31.99,2024-10-03,2.68,2024-10-03,6.3,2024-10-03,NaN,2024-10-03,2024-10-01,2024Q4
1,MR000005,21.1,5.6,2024-10-02,1.5,73.46,10.7,2024-10-02,42.0,2024-10-02,...,18.59,2024-10-02,1.65,2024-10-02,5.0,2024-10-02,NaN,2024-10-02,2024-10-01,2024Q4
2,MR000008,12.7,4.3,2024-10-02,1.3,66.14,9.0,2024-10-02,42.0,2024-10-02,...,29.78,2024-10-02,1.74,2024-10-02,4.2,2024-10-02,NaN,2024-10-02,2024-10-01,2024Q4
3,MR000009,15.0,2.5,2024-10-03,2.2,83.33,10.4,2024-10-03,41.0,2024-10-03,...,35.22,2024-10-03,2.16,2024-10-03,5.0,2024-10-03,NaN,2024-10-03,2024-10-01,2024Q4
4,MR000022,18.6,3.3,2024-10-02,2.1,82.26,11.3,2024-10-02,42.0,2024-10-02,...,30.02,2024-10-02,2.15,2024-10-02,5.8,2024-10-02,NaN,2024-10-02,2024-10-01,2024Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361,MR008567,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,2024-10-01,2024Q4
2362,MR008568,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,2024-10-01,2024Q4
2363,MR008570,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,2024-10-01,2024Q4
2364,MR008573,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,2024-10-01,2024Q4
2365,MR008575,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,2024-10-01,2024Q4

In [ ]:
dfs = replaceNullResult(allData)

,MR No.,Patient Name W/O Title,Primary Center,First Dialysis Date in Davita,First Dialysis Date(FDODD),Last Visit Date,Last Visit Month,HD Count,Physician Responsible,# of Txs per Week,...,Draw Date_K,PTH,Draw Date_PTH,QB (mL/min),Draw Date_QB (mL/min),Mortality,Hospitalization,Active,Report Date,Report Quarter
0,MR000002,WONG KAM SUNG,Meru,04-07-2023,04-07-2023,03-12-2024,2024-12,13.0,Dr. Chua Hing Kiat,3,...,2024-10-03,NaN,NaT,350.0,2024-11-07,NaN,NaN,1.0,2024-11-01,2024Q4
1,MR000005,LAILA RAHAYU BINTI SYAHRUL,Wangsa Maju,03-06-2010,03-06-2010,02-12-2024,2024-12,13.0,Dr. Alex Leong Vui Beng,3,...,2024-10-02,NaN,NaT,300.0,2024-11-06,NaN,NaN,1.0,2024-11-01,2024Q4
2,MR000008,AZRUL AKHBAR BIN ISMAIL,Wangsa Maju,03-12-2012,03-12-2012,02-12-2024,2024-12,13.0,Dr. Alex Leong Vui Beng,3,...,2024-10-02,NaN,NaT,400.0,2024-11-06,NaN,NaN,1.0,2024-11-01,2024Q4
3,MR000009,AZURA BINTI AHMAD,Wangsa Maju,07-05-2014,07-05-2014,03-12-2024,2024-12,13.0,Dr. Alex Leong Vui Beng,3,...,2024-10-03,NaN,NaT,300.0,2024-11-07,NaN,NaN,1.0,2024-11-01,2024Q4
4,MR000022,MAK CHOY HOON,Tulip,16-05-2012,16-05-2012,02-12-2024,2024-12,13.0,Dr. Wong Chew Ming,3,...,2024-10-02,NaN,NaT,330.0,2024-11-06,NaN,NaN,1.0,2024-11-01,2024Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,MR008614,MOHD SAIFUL BIN AHMAD,Kota Tinggi,29-11-2024,29-11-2024,01-12-2024,2024-12,2.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
2391,MR008615,BAKKIAM A/P POONGGAVANAM,Sungai Siput,NaN,29-11-2024,02-12-2024,2024-12,1.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
2392,MR008617,RAHMAH BINTI ABDUL RAHIM,Pontian,27-11-2024,27-11-2024,03-12-2024,2024-12,2.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
2393,MR008618,NORIAH BINTI MAT KAMIS,Tulip,28-11-2024,28-11-2024,30-11-2024,2024-11,2.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4
2394,MR008619,KOH NAM KIOW,Pontian,29-11-2024,29-11-2024,02-12-2024,2024-12,1.0,NaN,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaN,1.0,2024-11-01,2024Q4