# Import

In [6]:
%load_ext autoreload
%autoreload 2
from DataProcessing import *
from LabResultProcessing import *
from InterstellarProcessing import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import warnings
warnings.filterwarnings('ignore')

# Setting
- to specify month

In [8]:
selected_month = '2024-11'

# Medical Outcomes

## Read Lab Results
- to read result raw data

In [9]:
lab_result = readResult(selected_month)
hb = monthly_hb(lab_result)
phos = monthly_phos(lab_result)

phos

Total result with no name for 111124-081224: 1
Total result with no name for 111124-081224: 2
Total result with no name for 141024-101124: 3

Total data: 63588
Total Center Code: 44
Total Records with No Region: 0
Available Month: 2024-11, 2024-12, 2024-10

Total missing MR No.: 1944

         MR No.  PHOS  Draw Date    Month Quarter
49285  MR000005  1.60 2024-11-06  2024-11  2024Q4
60311  MR000043  1.86 2024-11-07  2024-11  2024Q4
63305  MR000553  0.99 2024-11-09  2024-11  2024Q4
63306  MR000558  2.63 2024-11-09  2024-11  2024Q4
1332   MR001181  1.75 2024-11-22  2024-11  2024Q4
...         ...   ...        ...      ...     ...
28443  MR008618  1.32 2024-12-05  2024-12  2024Q4
2625   MR008619  1.65 2024-12-03  2024-12  2024Q4
29662  MR008620  1.66 2024-12-05  2024-12  2024Q4
12771  MR008625  1.82 2024-12-04  2024-12  2024Q4
28442  MR008626  1.54 2024-12-04  2024-12  2024Q4

[135 rows x 5 columns]

## Read APAC and Generate Result Data

In [10]:
medical_outcomes = monthly_Clinical_data(selected_month)

Link Exist Region 1 ALOR SETAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Alor Setar\\APAC\2024_Nov_ALOR SETAR_APAC_v14.11_2024_11_21_10_01_57.xlsx
Link Exist Region 1 GURUN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Gurun\\APAC\2024_Nov_GURUN_APAC_v14.11_2024_11_21_10_02_04.xlsx
Link Exist Region 1 KANGAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Kangar\\APAC\2024_Nov_KANGAR_APAC_v14.11_2024_11_21_10_03_02.xlsx
Link Exist Region 1 PENDANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Pendang\\APAC\2024_Nov_PENDANG_APAC_v14.11_2024_11_21_10_02_12.xlsx
Link Exist Region 1 SEBERANG PERAI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Seberang Perai\\APAC\2024_Nov_SEBERANG PERAI_APAC_v14.11_2024_11_21_10_02_41.xlsx
Link Exist Region 1 SUNGAI SIPUT: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Sg Siput\\APAC\2024_Nov_SUNGAI SIPUT_APAC_v14.11_2024_11_21_10_02_52.xlsx
Link Exist Region 1 SG PETANI SELATAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\SPS\\APAC\2024_Nov_SG PETANI SELATAN_APAC_v14.11_2024_11_21_10_02_20.xlsx
Link Exist Region 1 SG PETANI UTARA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\SPU\\APAC\2024_Nov_SG PETANI UTARA_APAC_v14.11_2024_11_21_10_02_30.xlsx
Link Exist Region 1 PEKAN BARU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region1\\Pekan Baru\\APAC\2024_Nov_PEKAN BARU_APAC_v14.11_2024_11_21_10_04_19.xlsx
Link Exist Region 2 BANGI: Z:\\Dr.Tan\\2022\17CSSFA\\Region2\\Bangi\\APAC\2024_Nov_BANGI_APAC_v14.11_2024_11_21_09_57_03.xlsx
Link Exist Region 2 BATANG BERJUNTAI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Batang Berjuntai\\APAC\2024_Nov_BATANG BERJUNTAI_APAC_v14.11_2024_11_21_10_00_31.xlsx
Link Exist Region 2 CHERAS: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Cheras\\APAC\2024_Nov_CHERAS_APAC_v14.11_2024_11_21_09_56_23.xlsx
Link Exist Region 2 KAJANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Kajang\\APAC\2024_Nov_KAJANG_APAC_v14.11_2024_11_21_09_57_15.xlsx
Link Exist Region 2 KOTA WARISAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Kota Warisan\2024_Nov_KOTA WARISAN_APAC_v14.11_2024_11_21_10_04_14.xlsx
Link Exist Region 2 PUCHONG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Puchong\\APAC\2024_Nov_PUCHONG_APAC_v14.11_2024_11_21_09_57_29.xlsx
Link Exist Region 2 SABAK BERNAM: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Sabak  Bernam\\APAC\2024_Nov_SABAK BERNAM_APAC_v14.11_2024_11_21_10_01_18.xlsx
Link Exist Region 2 SG BESAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Sg Besar\\APAC\2024_Nov_SG BESAR_APAC_v14.11_2024_11_21_10_01_31.xlsx
Link Exist Region 2 TANJUNG KARANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region2\\Tanjung Karang\\APAC\2024_Nov_TANJUNG KARANG_APAC_v14.11_2024_11_21_10_01_41.xlsx
Link Exist Region 3 ANDALAS: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Andalas\\APAC\2024_Nov_ANDALAS_APAC_v14.11_2024_11_21_10_00_16.xlsx
Link Exist Region 3 KUALA PILAH: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Kuala Pilah\\APAC\2024_Nov_KUALA PILAH_APAC_v14.11_2024_11_21_09_59_11.xlsx
Link Exist Region 3 MERU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Meru\\APAC\2024_Nov_MERU_APAC_v14.11_2024_11_21_10_01_04.xlsx
Link Exist Region 3 RAWANG: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Rawang\\APAC\2024_Nov_RAWANG_APAC_v14.11_2024_11_21_10_00_40.xlsx
Link Exist Region 3 REMBAU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Rembau\\APAC\2024_Nov_REMBAU_APAC_v14.11_2024_11_21_09_59_24.xlsx
Link Exist Region 3 SEREMBAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Seremban\\APAC\2024_Nov_SEREMBAN_APAC_v14.11_2024_11_21_09_59_32.xlsx
Link Exist Region 3 SRI RAMPAI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Sri Rampai\\APAC\2024_Nov_SRI RAMPAI_APAC_v14.11_2024_11_21_09_56_37.xlsx
Link Exist Region 3 TAMAN TASIK JAYA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Taman Tasik Jaya\\APAC\2024_Nov_TAMAN TASIK JAYA_APAC_v14.11_2024_11_21_09_59_45.xlsx
Link Exist Region 3 WANGSA MAJU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region3\\Wangsa Maju\\APAC\2024_Nov_WANGSA MAJU_APAC_v14.11_2024_11_21_09_56_49.xlsx
Link Exist Region 4 BANDAR BARU UDA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Bandar Baru Uda\\APAC\2024_Nov_BANDAR BARU UDA_APAC_v14.11_2024_11_21_09_57_49.xlsx
Link Exist Region 4 BATU BERENDAM: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Batu Berendam\\APAC\2024_Nov_BATU BERENDAM_APAC_v14.11_2024_11_21_09_58_45.xlsx
Link Exist Region 4 KOTA TINGGI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Kota Tinggi\\APAC\2024_Nov_KOTA TINGGI_APAC_v14.11_2024_11_21_09_58_14.xlsx
Link Exist Region 4 KUALA SUNGAI BARU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Kuala Sungai Baru\\APAC\2024_Nov_KUALA SUNGAI BARU_APAC_v14.11_2024_11_21_09_58_54.xlsx
Link Exist Region 4 MASJID TANAH: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Masjid Tanah\\APAC\2024_Nov_MASJID TANAH_APAC_v14.11_2024_11_21_09_59_01.xlsx
Link Exist Region 4 BENUT: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Benut\\APAC\2024_Nov_BENUT_APAC_v14.11_2024_11_21_09_57_58.xlsx
Link Exist Region 4 PONTIAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Pontian\\APAC\2024_Nov_PONTIAN_APAC_v14.11_2024_11_21_09_58_31.xlsx
Link Exist Region 4 JOHOR BAHRU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\Landmark\\APAC\2024_Nov_JOHOR BAHRU_APAC_v14.11_2024_11_21_10_03_52.xlsx
Link Exist Region 4 TAMAN SERI SETIA: Z:\\Dr.Tan\\2022\\17CSSFA\\Region4\\TSS\\APAC\2024_Nov_TAMAN SERI SETIA_APAC_v14.11_2024_11_21_10_04_01.xlsx
Link Exist Region 5 BANGSAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Bangsar\\APAC Data\2024_Nov_BANGSAR_APAC_v14.11_2024_11_21_09_56_13.xlsx
Link Exist Region 5 JERANTUT: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Jerantut\\APAC\2024_Nov_JERANTUT_APAC_v14.11_2024_11_21_09_59_49.xlsx
Link Exist Region 5 KOTA KINABALU: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Kota Kinabalu\\APAC\2024_Nov_KOTA KINABALU_APAC_v14.11_2024_11_21_10_03_09.xlsx
Link Exist Region 5 PAPAR: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Papar\\APAC\2024_Nov_PAPAR_APAC_v14.11_2024_11_21_10_04_12.xlsx
Link Exist Region 5 SANDAKAN: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\sandakan\\APAC\2024_Nov_SANDAKAN_APAC_v14.11_2024_11_21_10_03_24.xlsx
Link Exist Region 5 TULIPS: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Tulips\\APAC\2024_Nov_TULIPS_APAC_v14.11_2024_11_21_10_00_02.xlsx
Link Exist Region 5 TAMANSARI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Tamansari\\APAC\2024_Nov_TAMANSARI_APAC_v14.11_2024_11_21_10_00_40 - Copy.xlsx
Link Exist Region 5 ANTARA GAPI: Z:\\Dr.Tan\\2022\\17CSSFA\\Region5\\Antaragapi\\APAC Data\2024_Nov_ANTARA GAPI_APAC_v14.11_2024_11_21_10_04_20.xlsx

Total Centers: 44

Total data size: 2257
Total duplicate: 3
Total HB not null: 2253, 99.8%

## Explode data to Individual Outcomes

In [11]:
outcomes = sepResult(medical_outcomes)

# Overall Data

In [12]:
allData = overallData(selected_month, outcomes)

Reading sheet: DSS
Sheet DSS size: 263
Reading sheet: QDC
Sheet QDC size: 8727
Reading sheet: NUSG
Sheet NUSG size: 7797
Reading sheet: DVA
Sheet DVA size: 4870
Total accumulated size: 21657
Total >90 Days Patient: 459
Total Unique Patient 2024-11: 2395
Total Active patient: 2368
Total Mortality: 15
Total Hospital Admission: 229.0

In [13]:
dfs = replaceNullResult(allData)
dfs

,MR No.,Patient Name W/O Title,Primary Center,National/Passport ID [NRIC: ******-**-****][Police ID: RF/******][Army ID: T*******],First Dialysis Date in Davita,First Dialysis Date(FDODD),Last Visit Date,Last Visit Month,HD Count,EPO Rate,...,Mortality,Hospitalizations,IDH,Active,Report Date,Report Month,Report Quarter,days_diff,>90days,Region
0,MR000002,WONG KAM SUNG,Meru,750322-10-5757,2023-07-04,04-07-2023,03-12-2024,2024-12,13.0,6.0,...,0.0,0.0,6.33,1.0,2024-11-01,2024-11,2024Q4,486.0,YES,Region 3
1,MR000005,LAILA RAHAYU BINTI SYAHRUL,Wangsa Maju,791003-14-5584,2010-06-03,03-06-2010,02-12-2024,2024-12,13.0,2.0,...,0.0,0.0,3.42,1.0,2024-11-01,2024-11,2024Q4,5265.0,YES,Region 3
2,MR000008,AZRUL AKHBAR BIN ISMAIL,Wangsa Maju,790925-14-5009,2012-12-03,03-12-2012,02-12-2024,2024-12,13.0,0.0,...,0.0,0.0,4.14,1.0,2024-11-01,2024-11,2024Q4,4351.0,YES,Region 3
3,MR000009,AZURA BINTI AHMAD,Wangsa Maju,740913-02-6138,2014-05-07,07-05-2014,03-12-2024,2024-12,13.0,4.0,...,0.0,0.0,4.28,1.0,2024-11-01,2024-11,2024Q4,3831.0,YES,Region 3
4,MR000022,MAK CHOY HOON,Tulip,690205-10-5238,2012-05-16,16-05-2012,02-12-2024,2024-12,13.0,4.0,...,0.0,0.0,4.22,1.0,2024-11-01,2024-11,2024Q4,4552.0,YES,Region 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,MR008614,MOHD SAIFUL BIN AHMAD,Kota Tinggi,720215-01-6161,2024-11-29,29-11-2024,01-12-2024,2024-12,2.0,1.0,...,0.0,0.0,2.50,1.0,2024-11-01,2024-11,2024Q4,-28.0,NO,Region 4
2391,MR008615,BAKKIAM A/P POONGGAVANAM,Sungai Siput,730126-08-5498,NaT,29-11-2024,02-12-2024,2024-12,1.0,0.0,...,0.0,0.0,1.74,1.0,2024-11-01,2024-11,2024Q4,NaN,NO,Region 1
2392,MR008617,RAHMAH BINTI ABDUL RAHIM,Pontian,510316-71-5214,2024-11-27,27-11-2024,03-12-2024,2024-12,2.0,2.0,...,0.0,0.0,0.00,1.0,2024-11-01,2024-11,2024Q4,-26.0,NO,Region 4
2393,MR008618,NORIAH BINTI MAT KAMIS,Tulip,510318-08-6044,2024-11-28,28-11-2024,30-11-2024,2024-11,2.0,0.0,...,0.0,0.0,0.00,1.0,2024-11-01,2024-11,2024Q4,-27.0,NO,Region 5
2394,MR008619,KOH NAM KIOW,Pontian,471207-01-5148,2024-11-29,29-11-2024,02-12-2024,2024-12,1.0,0.0,...,0.0,0.0,0.00,1.0,2024-11-01,2024-11,2024Q4,-28.0,NO,Region 4

In [14]:
df = update_hb(dfs, hb)

df

,MR No.,Patient Name W/O Title,Primary Center,National/Passport ID [NRIC: ******-**-****][Police ID: RF/******][Army ID: T*******],First Dialysis Date in Davita,First Dialysis Date(FDODD),Last Visit Date,Last Visit Month,HD Count,EPO Rate,...,Report Quarter,days_diff,>90days,Region,HB_Monthly_HB,Draw Date_Monthly_HB,Month,Quarter,Selected_HB,Selected_HB_Draw Date
0,MR000002,WONG KAM SUNG,Meru,750322-10-5757,2023-07-04,04-07-2023,03-12-2024,2024-12,13.0,6.0,...,2024Q4,486.0,YES,Region 3,9.0,2024-11-07,2024-11,2024Q4,9.0,2024-11-07
1,MR000005,LAILA RAHAYU BINTI SYAHRUL,Wangsa Maju,791003-14-5584,2010-06-03,03-06-2010,02-12-2024,2024-12,13.0,2.0,...,2024Q4,5265.0,YES,Region 3,10.0,2024-11-06,2024-11,2024Q4,10.0,2024-11-06
2,MR000008,AZRUL AKHBAR BIN ISMAIL,Wangsa Maju,790925-14-5009,2012-12-03,03-12-2012,02-12-2024,2024-12,13.0,0.0,...,2024Q4,4351.0,YES,Region 3,8.9,2024-11-06,2024-11,2024Q4,8.9,2024-11-06
3,MR000009,AZURA BINTI AHMAD,Wangsa Maju,740913-02-6138,2014-05-07,07-05-2014,03-12-2024,2024-12,13.0,4.0,...,2024Q4,3831.0,YES,Region 3,10.2,2024-11-07,2024-11,2024Q4,10.2,2024-11-07
4,MR000022,MAK CHOY HOON,Tulip,690205-10-5238,2012-05-16,16-05-2012,02-12-2024,2024-12,13.0,4.0,...,2024Q4,4552.0,YES,Region 5,11.8,2024-11-06,2024-11,2024Q4,11.8,2024-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,MR008614,MOHD SAIFUL BIN AHMAD,Kota Tinggi,720215-01-6161,2024-11-29,29-11-2024,01-12-2024,2024-12,2.0,1.0,...,2024Q4,-28.0,NO,Region 4,8.4,2024-11-27,2024-11,2024Q4,8.4,2024-11-27
2391,MR008615,BAKKIAM A/P POONGGAVANAM,Sungai Siput,730126-08-5498,NaT,29-11-2024,02-12-2024,2024-12,1.0,0.0,...,2024Q4,NaN,NO,Region 1,NaN,NaT,NaT,NaT,NaT,NaT
2392,MR008617,RAHMAH BINTI ABDUL RAHIM,Pontian,510316-71-5214,2024-11-27,27-11-2024,03-12-2024,2024-12,2.0,2.0,...,2024Q4,-26.0,NO,Region 4,5.6,2024-11-27,2024-11,2024Q4,5.6,2024-11-27
2393,MR008618,NORIAH BINTI MAT KAMIS,Tulip,510318-08-6044,2024-11-28,28-11-2024,30-11-2024,2024-11,2.0,0.0,...,2024Q4,-27.0,NO,Region 5,NaN,NaT,NaT,NaT,NaT,NaT
2394,MR008619,KOH NAM KIOW,Pontian,471207-01-5148,2024-11-29,29-11-2024,02-12-2024,2024-12,1.0,0.0,...,2024Q4,-28.0,NO,Region 4,NaN,NaT,NaT,NaT,NaT,NaT

In [15]:
df2 = update_phos(df, phos)
# df2[['PHOS', 'PHOS_Quarterly_PHOS', 'Selected_PHOS']]
df2

,MR No.,Patient Name W/O Title,Primary Center,National/Passport ID [NRIC: ******-**-****][Police ID: RF/******][Army ID: T*******],First Dialysis Date in Davita,First Dialysis Date(FDODD),Last Visit Date,Last Visit Month,HD Count,EPO Rate,...,Month,Quarter,Selected_HB,Selected_HB_Draw Date,PHOS_Quarterly_PHOS,Draw Date_Quarterly_PHOS,Month_Quarterly_PHOS,Quarter_Quarterly_PHOS,Selected_PHOS,Selected_PHOS_Draw Date
0,MR000002,WONG KAM SUNG,Meru,750322-10-5757,2023-07-04,04-07-2023,03-12-2024,2024-12,13.0,6.0,...,2024-11,2024Q4,9.0,2024-11-07,NaN,NaT,NaT,NaT,2.21,2024-10-03
1,MR000005,LAILA RAHAYU BINTI SYAHRUL,Wangsa Maju,791003-14-5584,2010-06-03,03-06-2010,02-12-2024,2024-12,13.0,2.0,...,2024-11,2024Q4,10.0,2024-11-06,1.60,2024-11-06,2024-11,2024Q4,1.6,2024-11-06
2,MR000008,AZRUL AKHBAR BIN ISMAIL,Wangsa Maju,790925-14-5009,2012-12-03,03-12-2012,02-12-2024,2024-12,13.0,0.0,...,2024-11,2024Q4,8.9,2024-11-06,NaN,NaT,NaT,NaT,1.94,2024-10-02
3,MR000009,AZURA BINTI AHMAD,Wangsa Maju,740913-02-6138,2014-05-07,07-05-2014,03-12-2024,2024-12,13.0,4.0,...,2024-11,2024Q4,10.2,2024-11-07,NaN,NaT,NaT,NaT,1.74,2024-10-03
4,MR000022,MAK CHOY HOON,Tulip,690205-10-5238,2012-05-16,16-05-2012,02-12-2024,2024-12,13.0,4.0,...,2024-11,2024Q4,11.8,2024-11-06,NaN,NaT,NaT,NaT,2.65,2024-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,MR008614,MOHD SAIFUL BIN AHMAD,Kota Tinggi,720215-01-6161,2024-11-29,29-11-2024,01-12-2024,2024-12,2.0,1.0,...,2024-11,2024Q4,8.4,2024-11-27,1.39,2024-11-27,2024-11,2024Q4,1.39,2024-11-27
2391,MR008615,BAKKIAM A/P POONGGAVANAM,Sungai Siput,730126-08-5498,NaT,29-11-2024,02-12-2024,2024-12,1.0,0.0,...,NaT,NaT,NaT,NaT,NaN,NaT,NaT,NaT,NaT,NaT
2392,MR008617,RAHMAH BINTI ABDUL RAHIM,Pontian,510316-71-5214,2024-11-27,27-11-2024,03-12-2024,2024-12,2.0,2.0,...,2024-11,2024Q4,5.6,2024-11-27,1.04,2024-11-27,2024-11,2024Q4,1.04,2024-11-27
2393,MR008618,NORIAH BINTI MAT KAMIS,Tulip,510318-08-6044,2024-11-28,28-11-2024,30-11-2024,2024-11,2.0,0.0,...,NaT,NaT,NaT,NaT,1.32,2024-12-05,2024-12,2024Q4,1.32,2024-12-05
2394,MR008619,KOH NAM KIOW,Pontian,471207-01-5148,2024-11-29,29-11-2024,02-12-2024,2024-12,1.0,0.0,...,NaT,NaT,NaT,NaT,1.65,2024-12-03,2024-12,2024Q4,1.65,2024-12-03

# Generate International Data Drop Excel

In [16]:
dataDrop = gene_DataDrop(df2)

# Medical Outcomes

## Missing Lab Test

In [17]:
misslab = missLab(dataDrop)
misslab

Total active patient: 2328
Total patient who missed: 70
Overall country Missing lab test: 3.0%

Primary Center,SPS,SPU,Gurun,Pendang,Alor Setar,Seberang Perai,Kangar,Sungai Siput,Pekan Baru,Region 1,...,Kota Kinabalu,Papar,Sandakan,Bangsar,Tulip,Rawang,Antaragapi,Tamansari,Region 5,Overall Country
Missing Lab Test,0.0,0.0,0.0,0.0,3.0,2.0,2.0,4.0,0.0,2.0,...,9.0,2.0,0.0,3.0,9.0,0.0,25.0,11.0,5.0,3.0

## HB 10-12 with EPO

In [ ]:
hb(dataDrop)

:

:

:

## PHOS <= 1.7 mmol/L

In [ ]:
phos(dataDrop)

:

:

:

## IDWG <= 5%

In [ ]:
idwg(dataDrop)

:

:

:

## Mortality

In [ ]:
mortality(dataDrop)

:

:

:

## Hospitalizations

In [ ]:
hppy, hospitalization_percent = hospitalizations(selected_month, dataDrop)
hospitalization_percent

:

:

: