In [10]:
%load_ext autoreload
%autoreload 2
from LabResultProcessing import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
readResult()

Total Center Code: 43
Total Records with No Region: 0

TAMAN SARI not in result

,Country,Facility Code,Center Code,Patient ID,IC No,Gender,Date of Birth,Age,Doctor,Lab No,...,UOM.54,Reference range.54,HEPC1,UOM.55,Reference range.55,HCPCR2,UOM.56,Reference range.56,Remark,Region
0,Malaysia,QDC,SANDAKAN,MRN000677,740518125515,Male,18/05/74,50 Y,PUSAT DIALYSIS DAVITA-SANDAKAN,24 - 2023091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 5
1,Malaysia,NUSG,MASJID TANAH,NaN,770331135307,Male,31/03/77,47 Y,PUSAT DIALYSIS DAVITA-M.TANAH,24 - 2095713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 4
2,Malaysia,QDC,SG PETANI UTARA,8694,641116026051,Male,16/11/64,59 Y,PUSAT DIALYSIS DAVITA (SPU),24 - 2391841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 1
3,Malaysia,QDC,MERU,NaN,811009146057,Male,09/10/81,43 Y,PUSAT DIALYSIS DAVITA-MERU,24 - 2103425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 3
4,Malaysia,NUSG,BATU BERENDAM,NaN,760227045433,Male,27/02/76,48 Y,PUSAT DIALYSIS DAVITA-BBM,24 - 2095781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Malaysia,NUSG,ALOR SETAR,NaN,610730095055,Male,30/07/61,63 Y,PUSAT DIALYSIS DAVITA (A.SETAR,24 - 2632029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 1
2487,Malaysia,NUSG,BANGSAR,NaN,531010106267,Male,10/10/53,71 Y,PUSAT DIALYSIS DAVITA-BANGSAR,24 - 1300467,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 5
2488,Malaysia,NUSG,KOTA TINGGI,NaN,671030015252,Female,30/10/67,57 Y,PUSAT DIALYSIS DAVITA-K.TINGGI,24 - 1344266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 4
2489,Malaysia,NUSG,KOTA TINGGI,NaN,730302016361,Male,02/03/73,51 Y,PUSAT DIALYSIS DAVITA-K.TINGGI,24 - 1344272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 4
2490,Malaysia,NUSG,BANDAR BARU UDA,NaN,550114085687,Male,14/01/55,69 Y,PUSAT DIALYSIS DAVITA-BBU,24 - 1344268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Region 4